@page "/"

@using Models

<PageTitle>Index</PageTitle>

<CustomErrorBoundary @ref="errorBoundary">
    <ChildContent>
        <h1>Hello, world!</h1>

        Welcome to your new app.
        <CascadingValue Name="ViewModel" Value="this.ViewModel">
            <CountriesGrid />
        </CascadingValue>
    </ChildContent>
</CustomErrorBoundary>