@page "/"

@using Models

<PageTitle>Index</PageTitle>

<CustomErrorBoundary @ref="errorBoundary">
    <ChildContent>
        <p>@this.ConnectionStrings?.ConnectionString1</p>
        <p>@this.ConnectionStrings?.ConnectionString2</p>
        <p>@this.ConnectionStrings?.ConnectionString3</p>
        <p>@this.ConnectionStrings?.ConnectionString4</p>
        <CascadingValue Name="ViewModel" Value="this.ViewModel">
            <CountriesGrid />
        </CascadingValue>
    </ChildContent>
</CustomErrorBoundary>