@inherits ErrorBoundary

@if (CurrentException is null)
{
    @ChildContent
}
else if (ErrorContent is not null)
{
    @ErrorContent(CurrentException)
}
else
{
    <div class="custom-error"><span class="oi oi-warning warning-icon"></span>&nbsp; @this.ErrorMessage</div>
}
